page-home {
    .vertical-align-content > *
    {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .boton{
        position: absolute;
        bottom: 90%;
        width: 90%;
    }

    .boton2{
        position: absolute;
        bottom: 5%;
        width: 90%;
    }


    .back{
        background-color: black;
    }

}
